To Learn the Control Flow

In [4]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

# Control Flow

## if else Statement

**if some_condition: 
  XXX
**else:
  XXX

**if some_condition:**

  #Execute some code

**elif:**

  #do something different
  
**else:**  
  #do something else

In [2]:
hungry = False

if hungry:
    print('feed me')

In [3]:
#Predict the output of this command code
hungry = False

if hungry:
    print('feed me')
else:
    print('False, not Hungry')

False, not Hungry

In [4]:
loc = 'Bank'

if loc =='Auto Shop':
    print('car is cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Book':
    print('Reading is cool')
elif loc == 'Store':
    print('Food is cool')
else:
    print('I do not understand')

Money is cool

# iteration

- **iterable: you can iterate over every character in a string, iterate over every item in a list, and iterate over every key in a character.**

## For Loop

**my_iterable** = [1,2,3]

for every_item_name in **my_iterable**:

print(every_item_name)

In [6]:
#num,data or any varibles, eg., jelly
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [7]:
#To make things easier, you'd better use specific calling name
for num in mylist:
    #the remainder is 0
    if num%2 == 0:
        print(num)
    else:
#        print('odd number: {num}') #Only giving you the 'num'
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

**To get the sum of every number on that list using for loop**

In [8]:
#Set the initial list of sum as zero
list_sum=0
#for every number in the list
for num in mylist:
    list_sum=list_sum+num
#adding the previous number with the old number
print(list_sum)

55

In [4]:
#Set the initial list of sum as zero
list_sum=0
#for every number in the list
for num in mylist:
    list_sum=list_sum+num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [22]:
x=range(1,11)

MYLIST = []
for num in x:
    list_sum=list_sum+num
    MYLIST.append(list_sum)
    
MYLIST

[66, 68, 71, 75, 80, 86, 93, 101, 110, 120]

In [15]:
    
    
      if list_sum == 55:
            for num in mylist:
                list_sum=list_sum-num
              printf("j = %d\n", j);
          }
      }
  }
  return 0;
}

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

**Using String in the for Loop**

In [10]:
my_string = 'Python is good'
# _means every items in the python
for _ in my_string:
    print(_)

P
y
t
h
o
n

i
s

g
o
o
d

In [11]:
my_string = 'Python is good'
# _means every items in the python
for _ in my_string:
    print(" 'Python is good' for 14 times equals to the string length")

 'Python is good' for 14 times equals to the string length
 'Python is good' for 14 times equals to the string length
 'Python is good' for 14 times equals to the string length
 'Python is good' for 14 times equals to the string length
 'Python is good' for 14 times equals to the string length
 'Python is good' for 14 times equals to the string length
 'Python is good' for 14 times equals to the string length
 'Python is good' for 14 times equals to the string length
 'Python is good' for 14 times equals to the string length
 'Python is good' for 14 times equals to the string length
 'Python is good' for 14 times equals to the string length
 'Python is good' for 14 times equals to the string length
 'Python is good' for 14 times equals to the string length
 'Python is good' for 14 times equals to the string length

**Tuple unpacking**

In [12]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [13]:
for _ in mylist:
    print(_)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [14]:
#Tuple Unpacking
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [15]:
mylist = DataFrame(np.arange(9).reshape((3,3)))
mylist

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [16]:
for a in mylist:
    print (a)

0
1
2

In [1]:
mylist=[(0,1,2),(3,4,5),(6,7,8)]
mylist

[(0, 1, 2), (3, 4, 5), (6, 7, 8)]

In [2]:
for a,b,c in mylist:
    print (b)

1
4
7

**iterate trough an dictionary**

In [5]:
C = DataFrame(np.arange(3).reshape((3,1)),index = ['A','B','C'])
C

#I don't under standard why

   0
A  0
B  1
C  2

In [9]:
for a,b,c in C:
    print(a)

NameError: name 'C' is not defined

In [20]:
d = {'k1':1,'k2':2,'k3':3}
for _ in d.items():
    print(_)

('k1', 1)
('k2', 2)
('k3', 3)

In [21]:
for a,b in d.items():
    print(b)

1
2
3

In [22]:
for key,values in d.items():
    print(values)

1
2
3

In [17]:
#To print the key == values
d = {'k1':1,'k2':2,'k3':3,'k4':'k4'}
for a,b in d.items():
    if a == b:
        print(a)
        print(b)

k4
k4

## While Loops

**While loops will continue to execute a block of code while some condition is True.**

- **Combine while loop with if..else**

**while** some_conditions:
    #Do something
**else**:
    #Do something Different

In [23]:
#Creating conditions
x = 0
while x<5:
    print(f'The current value of x is {x}')
# you will have the output for unimited times
    x=x+1
# you can also write x +=1 which is the same as x = x+1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [24]:
# To print current x value only equals to 4, 5 is more than 6
x = 4
while x<6:
    print(f'The current value of x is {x}')
# you will have the output for unimited times
    x+=1
else:
    print(f'{x} is larger than 5')

The current value of x is 4
The current value of x is 5
6 is larger than 5

- **break, continue, pass**

**Pass**: Does nothing at all

In [25]:
x = range(1,4)

for _ in x:
   pass
print('End of this by using pass')

End of this by using pass

**Continue**: Goes to the top of the cloeset enclosing looo

In [26]:
#It will only cover the 
for _ in x:
    if _ == 2:
        continue
    print(_)

1
3

**Break**: Break out of the current cloesest enclosing loop

In [27]:
for _ in x:
    if _ == 2:
        break
    print(_)

1

**Using both While and if...break statement**

In [25]:
#Break the while loop while X =2
x = 0

while x < 5:
    #This is if statement inside while loop
    if x ==3:
        break
    else:
        True
    print(x)
    x = x+1
#output shouls only showing 2

0
1
2

## Operators in Python

**Exmaple one**: range()

In [35]:
mylist = [1,2,3]

for _ in mylist:
    print(_)

1
2
3

In [33]:
for _ in range(1,4):
    print(_)

1
2
3

In [36]:
# making a step size
x=range(0,11,2)
list(x)

[0, 2, 4, 6, 8, 10]

**Exmaple two**: enumerate()

In [40]:
#Traditional way
index = 0
for _ in 'abcde':
    print('at index {}, the letter is {}'.format(index,_))
    index += 1

at index 0, the letter is a
at index 1, the letter is b
at index 2, the letter is c
at index 3, the letter is d
at index 4, the letter is e

In [53]:
#other way
index = 0
word = 'abcde'
for _ in word:
    print(word[index])
    index +=1

a
b
c
d
e

In [51]:
index = 0

for _ in 'abcde':
    print('at index %d , the letter is %s' %(index,_))
    index += 1

at index 0 , the letter is a
at index 1 , the letter is b
at index 2 , the letter is c
at index 3 , the letter is d
at index 4 , the letter is e

In [57]:
#enumerate way
word = 'abcde'
for _ in enumerate(word):
    print(_)
#Geeting tuple

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [59]:
#enumerate way
#Geeting tuple
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)

0
a
1
b
2
c
3
d
4
e

**Exmaple three**: zip()
- Feature: It will only zip the shortest format together

In [62]:
mylist1= range(1,4)
mylist2= ['a','b','c']
mylist3= range(100,400,100)

In [61]:
for _ in zip(mylist1, mylist2):
    print(_)

(1, 'a')
(2, 'b')
(3, 'c')

In [64]:
for _ in zip(mylist1, mylist2, mylist3):
    print(_)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

**Exmaple four**: in()
- Feature: in oprators would return you True or False

**Check if values in dictionary**

In [68]:
'mykey' in {'mykey':[1,2,3]}

True

In [81]:
d = {'mykey':[1,2,3]}
list(d.values())

[[1, 2, 3]]

In [78]:
1 in d.values()

False

In [84]:
[1,2,3] in d.values()

True

In [87]:
'mykey' in d.keys()

True

In [91]:
min(mylist3)
max(mylist3)

100

**Exmaple five**: random library

Features: create random numbers

In [100]:
#Randomly shuffle
from random import shuffle

In [106]:
mylist4 = [1,2,3,4,5,6]
random_list=shuffle(mylist4)

[1, 3, 6, 2, 5, 4]

In [107]:
type(random_list)
mylist4

[1, 3, 6, 2, 5, 4]

In [109]:
#Random integer
from random import randint

In [111]:
x=randint(0,100)

**Exmaple six**: input functions

Features:

In [112]:
result = input("what's your lucky number: ")

what's your lucky number: 30

In [113]:
#result --> giving you the string
#float(result) -->giving you the float
int(result)

30

## List Comprehensions

In [ ]:
#Traditional Way
def unique_list(sample_list):
    mylist = []
    for a in sample_list:
        if a not in mylist:
            mylist.append(a)
    pass
unique_list([2,3,4,1,2,3,4])

In [120]:
#Easier way
x ='hello'

mylist =[_ for _ in x]
mylist

['h', 'e', 'l', 'l', 'o']

In [125]:
mylist = [_ for _ in 'hello']
mylist

['h', 'e', 'l', 'l', 'o']

**List comprehension with operators**

In [127]:
x = range(11)
#Tranditional way

mylist = []
for number in x:
    mylist.append(number**2)
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [128]:
mylist = [number**2 for number in range(11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**List comprehension with if statement**

In [133]:
mylist = [_**2 for _ in range(11) if _%2==0]

mylist

[0, 4, 16, 36, 64, 100]

In [135]:
#Traditional way
x = range(11)
mylist = []

for num in x:
    if num%2 ==0:
        mylist.append(num**2)
mylist

[0, 4, 16, 36, 64, 100]

In [136]:
# example - short form

c = [0,10,20,30,40]

#for every t in c, using the formula
degreeF =[((9/5)*t + 32) for t in c]
degreeF

[32.0, 50.0, 68.0, 86.0, 104.0]

In [152]:
# Traditional way
c = [0,10,20,30,40]

mylist=[]

for item in c:
    mylist.append(((9/5)*item + 32))
mylist

[32.0, 50.0, 68.0, 86.0, 104.0]

**List comprehension with if & else statement**

In [153]:
#if x%2 == 0 else 'odd'
#x ..... for x in range(0,11)
results = [x if x%2 == 0 else 'odd number'for x in range(0,11)]

results

[0,
 'odd number',
 2,
 'odd number',
 4,
 'odd number',
 6,
 'odd number',
 8,
 'odd number',
 10]

**Nested Loop**

In [157]:
mylist = []
#Matrix multiplication

for x in [1,2,3]:
    for y in [100,200,300]:
        mylist.append(x*y)
mylist

[100, 200, 300, 200, 400, 600, 300, 600, 900]

In [158]:
'''
100 = 1*100
200 = 2*100
300 = 3*100
200 = 2*100
400 = 2*200
600 = 2*300
'''

'\n100 = 1*100\n200 = 2*100\n300 = 3*100\n200 = 2*100\n400 = 2*200\n600 = 2*300\n'

In [160]:
#Eaiser and shorter format
# for x in [1,2,3]
#for y in [100,200,300]
# x*y
mylist = [x*y for x in [1,2,3]for y in [100,200,300]]
mylist

[100, 200, 300, 200, 400, 600, 300, 600, 900]

In [169]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [180]:
df = DataFrame(mylist)
type(df)

pandas.core.frame.DataFrame

In [178]:
df2=DataFrame(mylist.reshape((3, 3)),
          index=pd.Index(['LA', 'SF','Trt'], name='city'),
          columns=pd.Index(['A', 'B', 'C']))

AttributeError: 'list' object has no attribute 'reshape'

In [177]:
dframe1 = DataFrame(np.arange(8).reshape((2, 4)),
                 index=pd.Index(['LA', 'SF'], name='city'),
                 columns=pd.Index(['A', 'B', 'C','D'], name='letter'))
#Show
dframe1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7